.container {
  margin-top: 100px;
}
hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
}
thead tr {
  color: white;
  background-color: #420177;
}
tbody tr:nth-of-type(odd) {
  background-color: #f1e5fd;
  color: black;
}
tbody tr:nth-of-type(even) {
  background-color: #e4cbfb;
  color: black;
}
.table td {
  vertical-align: middle !important;
}
tbody tr:hover {
  background-color: #590da0;
  color: white;
}
.coming-soon {
  margin-top: 100px;
  height: auto;
  width: auto;
  max-width: 500px !important;
  max-height: 500px !important;
}
.playerDetail td:nth-of-type(odd){
    font-weight: 650;
}
.playerDetail{
    border: 0px !important;
}